{% extends 'dashvisor/base.html' %}

{% block content %}
    <div class="container-fluid">
        <table id="supervisor" class="table table-striped table-condensed" style="width:100%">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Process Name</th>
                    <th>Process State</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function () {
            var action_index = 3;
            $('#supervisor').DataTable({
                processing: true,
                serverSide: false,
                ajax: {
                    url: "{{ query_url }}",
                    data: function (data) {
                        $.extend(data, {
                            'server': 'publique',
                            'action': 'refresh'
                        });
                        return data
                    }
                },
                columns: [
                    {"data": "server_name"},
                    {"data": "name"},
                    {"data": 'statename'},
                ],
                columnDefs: [
                    {
                        "render": function ( data, type, row ) {
                            return '<a href="#" data-toggle="tooltip" title="'+ row.human_name + '">'+ data + '</a>'
                        },
                        "targets": 1
                    },
                    {
                        "render": function ( data, type, row ) {
                            return "<button class='btn btn-primary'>Start</button>"
                        },
                        "targets": action_index
                    },
                    {
                        "render": function ( data, type, row ) {
                            return "<button class='btn btn-danger'>Stop</button>"
                        },
                        "targets": action_index + 1
                    },
                    {
                        "render": function ( data, type, row ) {
                            return "<button class='btn btn-warning'>Restart</button>"
                        },
                        "targets": action_index + 2
                    },
                ]
            });
        });
    </script>
{% endblock %}