.modal-body {
    padding: 0 !important;
}
.modal-xl {
    min-width: 80% !important;;
}
pre.content {
    margin-bottom: 0 !important;
    padding: 5px;
}

button.update_config > img {
    width: 16px;
    height: 17px;
}
div.control-bar {
    margin: 2px;
}

#win-server-info {
    position: fixed;
    transform: translateX(-50%);
    z-index: 99; /* Make sure it does not overlap */
    left: 50%;
    top: 10px;
}